entrypoint = "main.py"
modules = ["python-3.11"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[nix]
packages = ["ffmpeg-full", "libopus", "libsodium"]

[[ports]]
localPort = 8080
externalPort = 80
