nextcord[voice]>=2.7.0
PyNaCl
python-dotenv==1.0.1
flask==3.0.0
setuptools>=65.5.0
psutil==5.9.8
aiohttp==3.8.5
yarl==1.9.2
multidict==6.0.4
frozenlist==1.3.3
spotipy==2.23.0
yt-dlp==2023.11.14
Flask>=2.0
qrcode[pil]
pytz
Wikipedia-API
googletrans==4.0.0-rc1
pyfiglet
mafic~=2.10.1
